<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 href="">사진목록 페이지</h1>
    <section>
        <div>
            <h2>
                <a href="">좋은풍경</a>
            </h2>
            <img 
            src = "https://wallpapercave.com/wp/wp2754864.jpg"
            alt="좋은풍경"
            width="300"
            />
            <p>마이크로 소프트 1000원</p
        </div>
        <div>
            <h2>
                <a href="">좋은 풍경2</a>
            </h2>
            <img 
            src = "https://wallpapercave.com/wp/wp2754864.jpg"
            alt="좋은풍경"
            width="300"
            />
            <p>마이크로 소프트 1000원</p>
        </div>

    </section>
</body>
</html>